@model PGMSFront.Models.CommonModel
@{
    ViewBag.Title = "Change Password";
}
<input type="hidden" id="UserId" value="@Session["UserId"]" />
<input type="hidden" id="LoginId" value="@Session["LoginId"]" />

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">Old Password *</label>
                                <input type="password" class="form-control" id="txtOldPassword" onchange="UserGetByLoginId()" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">New Password *</label>
                                <input type="password" class="form-control" id="txtNewPassword" onchange="validatePassword()" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">Confirm Password *</label>
                                <input type="password" class="form-control" id="txtConfirmPassword" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <span style="color: red; font-size: 13px;"><b>Notes: Password must contains at least 8 characters long, at least 1 numeric character, at least 1 lowercase letter, at least 1 uppercase letter, at least 1 special character</b></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">&nbsp;</label><br>
                                <button type="button" class="btn btn-fill btn-rose btn-sm pull-right" id="btnSubmit" onclick="return UserPaswordReset()">Update Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/MyScripts/changePassword.js"></script>
<script>
    function UserPaswordReset() {
        try {
            var modal = {};
            var msg = "";
            if ($("#txtOldPassword").val() == "" || $("#txtOldPassword").val() == null || $("#txtOldPassword").val() == undefined) {
                msg += "<li>Old Password</li>";
            }
            if ($("#txtNewPassword").val() == "" || $("#txtNewPassword").val() == null || $("#txtNewPassword").val() == undefined) {
                msg += "<li>New Password</li>";
            }
            if ($("#txtConfirmPassword").val() == "" || $("#txtConfirmPassword").val() == null || $("#txtConfirmPassword").val() == undefined) {
                msg += "<li>Confirm New Password</li>";
            }
            if ($("#txtNewPassword").val() != $("#txtConfirmPassword").val()) {
                alert("New Password and Confirm Password does not Match");
                return false;
            }
            //if (chkPassword === 0) {
            //    alert("Incorrect Old Password");
            //    return false;
            //}
            
            if (msg != "") {
                alert("Please fill valid details in the fields below: \n" + msg);
                return false;
            }
            debugger
            modal.UserId = $("#UserId").val();
            modal.PassWord = $("#txtNewPassword").val();
            var data = JSON.stringify({ model: modal });
            $.ajax({
                url: '@Url.Action("UserPaswordReset", "Home")',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: data,
                contentType: "application/json; charset=utf-8",
                success: function (Response) {
                    debugger
                    if (Response.StatusId != "99") {
                        alert(Response.Status);
                        fnLogout();
                    } else {
                        alert(Response.Status);
                    }
                },
                error: function (xhr) {
                    alert("Data size is too large!");
                }
            });
        }
        catch (e) {
            loadPanel.hide();
            alert("Data size is too large!");
        }
    }

    function UserGetByLoginId() {
        debugger
        var modal = {};
        modal.LoginId = $("#LoginId").val();
        modal.PassWord = $("#txtOldPassword").val();
        var data = JSON.stringify({ model: modal });
        $.ajax({
            url: '@Url.Action("UserGetByLoginId", "Home")',
            type: 'POST',
            dataType: 'json',
            async: true,
            data: data,
            contentType: "application/json; charset=utf-8",
            success: function (Response) {
                debugger
                if (Response.StatusId != "99") {
                } else {
                    $("#txtOldPassword").val("");
                    $("#txtOldPassword").focus();
                    alert("Incorrect Old Password");
                }
            },
            error: function (xhr) {
                alert("Data size is too large!");
            }
        });
    }
</script>